.modal-content{
<<<<<<< HEAD
    margin-top: 180px !important;
}
.modal-footer{
    border-top: 0px !important;
}
=======
    margin-top: 160px !important;
}
/*.modal-footer{*/
    /*border-top: 0px !important;*/
/*}*/
>>>>>>> e143de0fc58f0c287949ccf44faa2793d9807259
