section.container
    .row
        .col-lg-12
            .col-lg-3
                .panel.panel-default.pull-left
                    .panel-heading Projects
                    .panel-body
                        div
                            input(type="search", class="form-control", ng-model="projectKey", placeholder="search project")
                        br
                        table(class="table table-bordered")
                            tr(ng-repeat='project in projects | orderByPriority | filter: projectKey | orderBy : predicate')
                                //td
                                //    a.btn.btn-info(ui-sref=".edit({id: task.id})", style="margin-left: 5px") Edit
                                //        //i.fa.fa-edit
                                //        //| Edit
                                //td: button(class="btn btn-danger") Delete
                                td
                                    a(ng-click='viewProjectTasks(project)') {{ project.title }}
                        ul(class="pager pull-right")
                            li(ng-class="{ disabled: pageSelected == 0 }")
                                a(ng-click="changePage(filteredProducts, -1)")  Previous
                            li(ng-class="{ disabled: (pageSelected + 1) == maxPage(filteredProducts) }")
                                a(ng-click="changePage(filteredProducts, 1)") Next

            .col-lg-6
                .panel.panel-info
                    .panel-heading Activity Stream
                    .panel-body
                        a(class="btn btn-default pull-right", ng-click="showAll()", ng-show="error")  All Projects Tasks
                        .h4 {{ projectTitle }}
                        table(class="table table-bordered")
                            tr(ng-repeat='task in allTasks | orderByPriority | orderBy : predicate')
                                //td
                                //    a.btn.btn-info(ui-sref=".edit({id: task.id})", style="margin-left: 5px") Edit
                                //        //i.fa.fa-edit
                                //        //| Edit
                                //td: button(class="btn btn-danger") Delete
                                td
                                    a(ui-sref='.new') {{ task.summary }}

                        div
                            a(class="btn btn-default pull-right", ng-click="showMore()")  Show more tasks..

            .col-lg-3
                .panel.panel-default.pull-right
                    .panel-heading Assigned to Me
                    .panel-body
                        div(class="pull-left")
                            table(class="table table-bordered")
                                tr(ng-repeat='project in projects')
                                    //td
                                    //    a.btn.btn-info(ui-sref=".edit({id: task.id})", style="margin-left: 5px") Edit
                                    //        //i.fa.fa-edit
                                    //        //| Edit
                                    //td: button(class="btn btn-danger") Delete
                                    td
                                        a(ui-sref='.new') {{ project.summary }}

                            ul(class="pager pull-right")
                                li(ng-class="{ disabled: pageSelected == 0 }")
                                    a(ng-click="changePage(filteredProducts, -1)")  Previous
                                li(ng-class="{ disabled: (pageSelected + 1) == maxPage(filteredProducts) }")
                                    a(ng-click="changePage(filteredProducts, 1)") Next

