//
   Created by chinna on 3/7/14.

div(id='nav-bar')
    nav(class='navbar navbar-inverse navbar-default', role='navigation')
        .navbar-header
            a(class='navbar-brand', href='#') Task Management


