//
   Created by sidhu on 30/6/14.

doctype html
html(lang='en')
    head
        title taskmanagement
        link(rel='stylesheet' href='../css/lib.min.css')
        script(src='../js/lib.min.css')
    body
        div.container
            h1 data