doctype
html(ng-app='TaskManager')
    head
        title Task Management System
        link(href="lib.min.css", rel="stylesheet")
        link(href="all.min.css", rel="stylesheet")

    body(class='boxed')
        div(ui-view="viewA")
        div(ui-view="viewB")

        script(src="lib.min.js")
        script(src="app.js")

