//
   Created by sidhu on 30/6/14.

doctype html
html(lang='en')
    head
        title taskmanagement
        link(rel='stylesheet' href='')
        script(src='../js/build/lib.min.css')
    body
        div.container
            h1 welcome