<<<<<<< HEAD
//
    Created by chinna on 30/6/14.
doctype
html(ng-app='TaskManager')
    head
        link(href="lib.min.css", rel="stylesheet")
        link(href="all.min.css", rel="stylesheet")
        script(src="lib.min.js")
        script(src="app.js")
        title Task Management System
    body(style='', class='boxed')
        div(ui-view="viewA")
        div(ui-view="viewB")
=======
doctype
html(ng-app='TaskManager')
    head
        title Task Management System
        link(href="lib.min.css", rel="stylesheet")
        link(href="all.min.css", rel="stylesheet")

    body(class='boxed')
        div(ui-view="viewA")
        div(ui-view="viewB")

        script(src="lib.min.js")
        script(src="app.js")

>>>>>>> e143de0fc58f0c287949ccf44faa2793d9807259
