//
   Created by chinna on 3/7/14.

div(id='loginModal', class='modal show', tabindex='-1', role='dialog', aria-hidden='true')
    .modal-dialog
        .modal-content
            .modal-header
                h1(class='text-center') Login
            .modal-body
                form(class='form col-md-12 center-block')
                    .form-group
                        input(type='text', id='userName', class='form-control input-lg', placeholder='Email or Username', autofocus)
                    .form-group
                        input(type='password', id='password', class='form-control input-lg', placeholder='password')
                    .form-group
                        input(type='submit', class='btn btn-primary btn-lg btn-block', id='btnLogin', value='LogIn')
            .modal-footer(id='footer')