//
   Created by chinna on 30/6/14.

div(id='nav-bar')
    nav(class='navbar navbar-inverse navbar-default', role='navigation')
        .navbar-header
            img(src='images/techno_logo.png')
        div(class='nav navbar-nav navbar-left')
            a(class='navbar-brand', href='#')
                | Task Management
            //a(class='navbar-brand', ui-sref='tasks') Task Management
        div(class='collapse navbar-collapse', id='bs-example-navbar-collapse-1')
            ul(class='nav navbar-nav')
                li(class='dropdown')
                    a(class='dropdown-toggle' data-toggle='dropdown')
                        | Tasks
                        b(class='caret')
                    ul(class='dropdown-menu')
                        li
                            a(id='cteateTask', ui-sref='.new') Create Task
                        li(class='divider')
                        //li
                        //    a AAA

            ul(class='nav navbar-nav navbar-right')
                li
                    a(ui-sref='tasks') Dashboard
                li(class='dropdown')
                    a(class='dropdown-toggle' data-toggle='dropdown')
                        | Admin
                        b(class='caret')
                    ul(class='dropdown-menu')
                        li
                            a(ui-sref='newProject') Create New Project
                        li(class='divider')
                        li
                            a Settings
                        li(class='divider')
                        li
                            a(href='#') Logout

